nodeName: {{.VKName}}

interlink:
  address: https://{{.InterLinkIP}}
  port: {{.InterLinkPort}}

virtualNode:
  CPUs: {{.VKLimits.CPU}}
  MemGiB: {{.VKLimits.Memory}}
  Pods: {{.VKLimits.Pods}}
  HTTPProxies:
    HTTP: null
    HTTPs: null
  HTTP:
    Insecure: {{.HTTPInsecure}} 

OAUTH:
  enabled: true
  TokenURL: {{.OAUTH.TokenURL}}
  ClientID: {{.OAUTH.ClientID}}
  ClientSecret: {{.OAUTH.ClientSecret}}
  RefreshToken: {{.OAUTH.RefreshToken}}
  GrantType: {{.OAUTH.GrantType}}
  Audience: {{.OAUTH.Audience}}
