[Unit]
Description=This Unit is needed to automatically start the oauth2-proxy at system startup
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3

WorkDirectory=/home/USERNAME/.interlink/config/

ExecStart=/home/USERNAME/.interlink/bin/oauth2-proxy --config=/home/USERNAME/.config/systemd/user/oauth2-proxy.cfg

StandardOutput=append:/home/USERNAME/interlink/logs/oauth2-proxy.log
StandardError=append:/home/USERNAME/.interlink/logs/oauth2-proxy.log

[Install]
WantedBy=multi-user.target


