name: integration-tests 

on:
  push:
    branches: [main,next]
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - shell: bash 
        env:
          SUPER_SECRET: ${{ secrets.DAGGER_CLOUD_TOKEN }}
        run: |
          echo "$SUPER_SECRET"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Integration Test
        uses: dagger/dagger-for-github@v5
        with:
          workdir: ci
          verb: call
          args: -s build-images --source-folder ../ --virtual-kubelet-ref ghcr.io/intertwin-eu/virtual-kubelet-inttw:$GITHUB_SHA --interlink-ref ghcr.io/intertwin-eu/interlink:$GITHUB_SHA new-interlink --manifests $PWD/manifests load-plugin test stdout
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          #dagger-flags: -d
